html {
  min-width: 990px;
  min-height: 600px;
}

body {
  background: white;
  user-select: none;
}

.Input {
  display: inline-block;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75px;
}

.Label {
  display: block;
  width: 40px;
}
